body {
  background-color: #dfd3c3;
}
.col-sm-2 {
  text-align: center;
  width: 25%;
}
.btn {
  background-color: #595c5f;
  border: none;
}
.container form {
  text-align: center;
  margin: auto;
  padding: auto;
}
