h6,
p {
  text-align: center;
  margin-bottom: 4px;
}
.title {
  text-decoration: underline;
  margin: 6px 0 6px 0;
}
.weather-forecast {
  text-align: center;
}
img {
  width: 25%;
  margin: auto;
  display: block;
}
.temp {
  font-weight: 600;
}
