body {
  max-width: 600px;
  margin: auto;
}
.card {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 50px;
  max-width: 630px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.939);
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card-title {
  text-decoration: underline;
}
