h4,
h5,
h6 {
  text-align: center;
  margin-bottom: 4px;
  list-style-type: circle;
}

.temps {
  display: inline;
}
.var-temps,
.currentConditions {
  text-align: center;
  font-weight: 500;
}

#celsius {
  text-decoration: none;
}
#status {
  text-transform: capitalize;
}
.weather-temp .active {
  color: #000000;
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}
.col-5 {
  text-align: center;
  margin-top: 10px;
}
.currentConditions {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.vl {
  border-left: 1px solid #595c5f;
  height: 142px;
  position: absolute;
  left: 50%;
  margin-left: -0.5px;
  margin-top: 10px;
}
